SENDER_EMAIL=your email address here
SENDER_PASSWORD=your email 'App Password' here
APP_PASSWORD=your password here(the one for the email app, not your email account)
SECRET_KEY=your secret key here (can be any random string, used for Flask sessions)